/* General */

body {
    margin: 0px;
    font-family: 'Gotham Narrow Medium', sans-serif;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.container {
    width: 924px;
    margin: 0 auto;
    padding: 30px 40px;
}


/* Typo */


/* Header */

/* Hero */

/* Content */

/* Informese aquí */

/* Footer */


